[server]
# username for running the daemon
username =
# hostname. set it to a FQDN in order to be reached from outside
host = 0.0.0.0
# ports
electrum_rpc_port = 8002
stratum_tcp_port = 5108
#stratum_tcp_ssl_port = 50002
#report_host =
#report_stratum_tcp_port = 50001
#report_stratum_tcp_ssl_port = 50002
password = secret
banner = Welcome to Electrum!
banner_file = /etc/electrum-netko.banner
irc = yes
irc_nick = netko
#ssl_certfile = /path/to/electrum-netko-server.crt
#ssl_keyfile = /path/to/electrum-netko-server.key
logfile = /var/log/electrum-netko.log
donation_address =

# default backend is leveldb (pruning server)
backend = leveldb

[leveldb]
# path to your database
path =
# for each address, history will be pruned if it is longer than this limit
pruning_limit = 1000

[netkod]
netkod_host = localhost
netkod_port = 25970
# user and password from netko.conf
netkod_user =
netkod_password =
